.container_InputBox {
  position: relative;
  margin: 0.5rem 0.2rem;
  width: 100%;
}

.label_InputBox {
  position: absolute;
  top: 5px;
  left: 10px;
  width: fit-content;
  color: #878686;
  transition: 0.2s all;
  cursor: text;
  font-size: small;
}
.ibox_InputBox {
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: none;
  resize: none;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid #22a2d1;
  transition: all 2s;
  padding: 0.3rem;
  font-weight: 550;
  font-size: medium;
}
.label_InputBox,
.ibox_InputBox {
  text-align: left;
}
.ibox_InputBox:focus {
  border-bottom: 0.1rem solid rgb(126, 247, 102);
}

.ibox_InputBox:focus ~ .label_InputBox,
.ibox_InputBox:valid ~ .label_InputBox {
  top: -10px;
  left: 10px;
  padding: 0 5px;
  font-size: small;
  color: rgb(35, 49, 171);
  font-weight: 700;
  border-radius: 1rem;
  border-bottom: 1px solid rgb(130, 130, 130);
}
