body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --rd: #f9002f;
  --b-8f: #0000008f;
  --b: #000000;
  --w: #fff;
  --bl-w:#8dd2eb;
  --bl: #4a93d7;
  --bl-hvr: #80c0d7;
  --ylw-hvr: #c7c71af6;
  --ylw: #efef5b;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
