/* Tooltip container */
.tooltip {
  width: 100%;
  position: relative;
}

/* Tooltip text */

.tooltiptext,
.tooltiptext {
  width: fit-content;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 10;
  bottom: 105%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  /*font style*/
  font-family: Arial;
  font-weight: 100;
  font-size: xx-small;
  background-color: #555;
  color: #fff;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
