.contact_container{
    display: flex;
}
.ibox {
    color: black;
    font-weight: 400;
    border: 2px solid rgba(175, 175, 175, 0.455);
    background-color: #e2e2e264;
    outline: 0;
    border-radius: 0.3rem;
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0.2rem;
    resize: none;
}
.box{
    margin: auto;
    max-width: 40vw;
}
.subBtn:hover{
    color: #11a9e0;
}
.subBtn{
    cursor: pointer;
    background-color: black;
    color: #8cc6db;;
    border: 2px solid;
    border-radius: 0.3rem;
    width: 50%;
    margin: auto;
}