.container_Home {
  display: flex;
  /* border: 1px solid; */
}
.Clock_cont_home {
  /* border: 2px solid; */
  display: flex;
  position: relative;
  height: 15rem;
  width: 15rem;
}
.Greeting_Home {
  margin: auto;
  font-size: xx-large;
  font-weight: bolder;
  height: 10vh;
  display: flex;
}
.text_home{
  margin: auto;
}