.socialImg {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 100%;
  animation: animateClr 10s linear infinite;
  box-shadow: 0 0 10px #00eeff8e, -1.5px -1.5px 0 #00eeff8e,
    -1.5px -1.5px 10px #00eeff8e, 1.5px -1.5px 0 #00eeff8e,
    1.5px -1.5px 10px #00eeff8e, -1.5px 1.5px 0 #00eeff8e,
    -1.5px 1.5px 10px #00eeff8e, 1.5px 1.5px 0 #00eeff8e,
    1.5px 1.5px 10px #00eeff8e;
}
.Social_Link_Container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .socialImg {
    width: 10vw;
    height: 10vw;
  }
}

@keyframes animateClr {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
