.admin_container {
  display: flex;
  height: calc(100vh - 5rem);
  /* border: 5px solid; */
  flex-direction: column;
}
._admin_Password {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.input_admin_Password,
.Login_admin_btn {
  font-size: 1rem;
  background-color: transparent;
  color: transparent;
  border: 5px solid black;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
}
.Login_admin_btn {
    cursor: pointer;
    background-color: black;
    color: white;
}
.Login_admin_btn:hover {
    color: orange;
}


.component_contaier_admin{
  border: 3px solid;
  border-radius: 1rem;
  width: 48rem;
  margin: 1rem auto;
}
.heading_admin_component{
  text-decoration: underline;
  font-size: 2.5rem;
  color: rgb(77, 15, 171);
  background-color: rgba(127, 255, 212, 0.679);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

@media (max-width:800px){
  .component_contaier_admin{
    width: 90vw;
  }
}