.container_Navbar {
  /* border: 1px solid; */
  position: sticky;
  top: 0;
  display: flex;
  height: 5rem;
  z-index: 1;
  background-color: var(--b);
  box-shadow: 1px 1px 2px var(--b-8f), -1px 1px 2px var(--b-8f),
    1px -1px 2px var(--b-8f), -1px -1px 2px var(--b-8f);
}
.title_container {
  display: flex;
  flex-grow: 1;
}
.title {
  text-decoration: none;
  margin: auto;
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(
    219deg,
    var(--w) 19%,
    transparent 19%,
    transparent 20%,
    var(--bl) 20%,
    var(--bl) 39%,
    transparent 39%,
    transparent 40%,
    var(--ylw) 40%,
    var(--ylw) 59%,
    transparent 59%,
    transparent 60%,
    var(--rd) 60%
  );
  background-clip: text;
  padding: 0.6rem 2rem;
  transition: color 1s;
}
.title:hover {
  color: var(--bl-w);
}
.Navigation_List_Navbar {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.Item_Navbar {
  border: 2.5px solid transparent;
  color: whitesmoke;
  text-decoration: none;
  margin: auto 0;
  padding: 0.7rem;
  color: var(--bl);
  transition: color 1s;
  transition: background-color 1s;
  transition: border-radius 0.5s;
  font-weight: bolder;
  font-size: 0.9rem;
  transition: all 1s;
}
.Item_Navbar:hover {
  background-color: var(--b-8f);
  color: var(--bl-hvr);
}
.Item_Navbar.active {
  cursor: default;
  color: var(--bl-w);
  background-color: rgba(0, 0, 0, 0);
}
